default: &default
  adapter: postgresql
  encoding: utf8
  username: postgres
  pool: 5
  password:

development:
  <<: *default
  database: basic_development

test:
  <<: *default
  database: basic_test

production:
  <<: *default
  database: basic_production
  password:
